{% extends "base.html" %}
{% block title %}TopPage{% endblock %}
{% load staticfiles %}

      {% block body %}
      <div id="wrapper">
        <div id="page-wrapper">
          <div class="row">
            <div class="col-lg-6 full-width margin-top-20percent" >
              <div class="panel panel-default full-width">

                <div class="panel-heading">
                  <h1>TopPage</h1>
				  <h5>Creator:Koki Sumiya</h5>
                </div>

                <div class="panel-body full-width full-height">
					<p>This is WEB application for managing members of MelodyUnion</p>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      {% endblock %}
